<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    Tip 2: you can also add an image using data-image tag
  -->
  <div class="logo">
    <a rel="noopener noreferrer" href="/" class="simple-text logo-normal">
      Venue CMS
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
    {% if request.user.is_authenticated %}

      <li class="nav-item {% if 'index' in segment %} active {% endif %}">
        <a class="nav-link" href="/">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item {% if 'campaigns' in segment %} active {% endif %}">
        <a class="nav-link" href="/campaigns">
          <i class="material-icons">person</i>
          <p>Campaigns</p>
        </a>
      </li>
      <li class="nav-item {% if 'venues' in segment %} active {% endif %}">
        <a class="nav-link" href="/venues">
          <i class="material-icons">content_paste</i>
          <p>Venues</p>
        </a>
      </li>
      <li class="nav-item {% if 'faucets' in segment %} active {% endif %}">
        <a class="nav-link" href="/faucets">
          <i class="material-icons">library_books</i>
          <p>Faucets</p>
        </a>
      </li>
      <li class="nav-item {% if 'media' in segment %} active {% endif %}">
        <a class="nav-link" href="/media">
          <i class="material-icons">bubble_chart</i>
          <p>Media</p>
        </a>
      </li>
      <li class="nav-item {% if 'reporting' in segment %} active {% endif %}">
        <a class="nav-link" href="/reporting">
          <i class="material-icons">notifications</i>
          <p>Reporting</p>
        </a>
      </li>

    {% endif %}
    </ul>
  </div>

</div>
